<header class="header">
  <h1 class="header-title">{{ pageTitle }}</h1>

  <nav class="header-nav">
    <a
      *ngFor="let item of link"
      [ngClass]="{ focus: item.link === currentRoute }"
      class="header-nav-link"
      [routerLink]="item.link"
      >{{ item.linkName }}</a
    >
  </nav>

  <button (click)="menu.toggle($event)" class="header-profile">
    <i class="pi pi-user header-profile-icon"></i>
  </button>
</header>
<main class="main"><router-outlet></router-outlet></main>
<footer class="footer"></footer>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
