$thm-white: white;
$thm-base: #435261;
$thm-complementary: #8676b6;
$thm-link: #2d6fb1;
$thm-font-size: 14px;
$thm-border: #cecece;
$thm-red: #e44934;
$thm-light-red: #fff1f0;
$thm-light-green: #e9fcd2;
