@import "../assets/variables.scss";

.auth {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    border-radius: 20px;
    border: 1px solid $thm-border;

    & .p-input-icon-right {
      i {
        cursor: pointer;
        right: 8px;
      }
    }

    &-input {
      border: 1px solid $thm-border;
      margin-bottom: 16px;
      padding: 12px 16px;
      border-radius: 12px;
      font-size: $thm-font-size;

      &.invalid {
        background-color: $thm-light-red;
        border-color: $thm-red;
      }

      &:hover {
        border-color: $thm-base;
      }

      &:focus {
        border-color: $thm-base;
      }

      &:focus-visible {
        outline: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-button {
      width: 100%;
      border-radius: 20px;
      margin-top: 16px;
      padding: 8px 32px;
      color: $thm-white;
      border: none;
      background-color: $thm-base;
      cursor: pointer;
    }
  }
}

:host ::ng-deep .p-toast-message {
  background-color: $thm-light-red;
  padding: 8px;
  border-radius: 12px;
}

:host ::ng-deep .p-toast-message-content {
  span {
    margin-right: 8px;
  }
}
